use_local_flake() {
  watch_file flake.nix
  watch_file flake.lock
  watch_file shell.nix
  mkdir -p .direnv
  eval "$(nix print-dev-env --profile "$(direnv_layout_dir)/flake-profile")"
}

use local_flake